<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Christ's College &middot; MCR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/crest.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/crest.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/crest.png">
                    <link rel="apple-touch-icon-precomposed" href="img/crest.png">
                                   <link rel="shortcut icon" href="img/crest.png">

    <!-- ANALYTICS (Bigbrother's watching you ^-^) -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-34397666-2', 'srcf.net');
      ga('send', 'pageview');
    </script>
    
  </head>

  <body>



    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <!--<div class="container">-->

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!--<a class="brand" href="#">Christ's College MCR</a>-->
      <a class="brand" href="index"> <img src="img/crest.png" height="20px" width="20px"> Christ's College MCR</a>

            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="index">Home</a></li>
                <li class="active"><a href="about_us">Committee</a></li>
                <li><a href="events">Events</a></li>
                <li><a href="welfare">Welfare</a></li>
                <li class="dropdown">
                  <a href="academic_programs" class="dropdown-toggle disbled">Academic Programs<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="academic_programs#erss">ERSS</a></li>
                    <li><a href="academic_programs#talks">Talks</a></li>
                    <li><a href="academic_programs#teaching">Teaching</a></li>
                    <li><a href="academic_programs#engagement">Engagement</a></li>
                  </ul>
                </li>
                <li><a href="societies">Societies</a></li>
                <li><a href="gallery">Gallery</a></li>
                <li><a href="contact">Contact</a></li>
                <!--<li>
                  <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder="Search">
                  </form>
                </li>-->
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      <!-- </div>  /.container -->
    </div><!-- /.navbar-wrapper -->



    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="img/top_bar/Bar1.jpg" alt="">
        </div>
        <div class="item">
          <img src="img/top_bar/Bar2.jpg" alt="">
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span12">
          <h2>Committee</h2>
          <!--<p class="lead">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>-->
        </div><!-- /.span12 -->
        <div class="span12">
          <img src="img/committee/committee.jpg">
        </div>
      </div><!-- /.row -->

      <br />
      <div class="row">
        <div class="span3 well">
          <a href="" onmouseover="document.getElementById('cedric').src='img/committee/Cedric2.jpg';" onmouseout="document.getElementById('cedric').src='img/committee/Cedric1.jpg';">
            <img id="cedric" src="img/committee/Cedric1.jpg" width="200px" height="200px">
          </a>
          <h3>C&eacute;dric Faure</h3>
          <h4>President</h4>
          <p>
            I represent the MCR students in front of the different college governing bodies.
          </p>
          <h4>Research Title</h4>
          <p>
            Neuronal mechanisms underlying wakefulness and energy balance.
          </p>
          <h4>Freshers' Tip</h4>
          <p>
            Get some rest, have a break! (why not in the MCR?)
          </p>
          <h4>Talk to me about</h4>
          <p>
            Your sleeping disorders, all postgrads have come through them.
          </p>
        </div>
        <div class="span3 well">
          <a href="" onmouseover="document.getElementById('matt').src='img/committee/Matt2.jpg';" onmouseout="document.getElementById('matt').src='img/committee/Matt1.jpg';">
            <img id="matt" src="img/committee/Matt1.jpg" width="200px" height="200px">
          </a>
          <h3>Matthew Tsim</h3>
          <h4>Secretary / Vice-president</h4>
          <p>
            I send out the weekly bulletin of news to keep the MCR up to date, as 
            well as taking minutes at any meetings.<br />
            <strong>Vice-president</strong> - I do whatever Cedric asks me to do. As long as it's within reason.
          </p>
          <h4>Research Title</h4>
          <p>
            Investigating bacterial cell division using cryo electron micoscopy and other 
            structural techniques.
          </p>
          <h4>Freshers' Tip</h4>
          <p>
            Get a bike for convenient transport around town - although be careful about getting 
            second hand bikes from local shops, they are usually overpriced.
          </p>
          <h4>Talk to me about</h4>
          <p>
            Sports, particularly football, basketball and cycling, photography and cameras, 
            photography of sports, what your favorite bop track is.
          </p>
        </div>
        <div class="span3 well">
          <a href="" onmouseover="document.getElementById('regine').src='img/committee/Regine2.jpg';" onmouseout="document.getElementById('regine').src='img/committee/Regine1.jpg';">
            <img id="regine" src="img/committee/Regine1.jpg" width="200px" height="200px">
          </a>
          <h3>Regine Maritz</h3>
          <h4>Bar Manager</h4>
          <p>
            I run the MCR bar, buy drinks (even non-alcoholic ones)
            and sell them to you at very fair prices.
          </p>
          <h4>Research Title</h4>
          <p>
            Gender at the early modern court. A comparative study of German and Persia c.1600.
          </p>
          <h4>Freshers' Tip</h4>
          <p>
            Make time for socialising at the start of the year. A good network of friends will get 
            you through the rougher patches of your degree.
          </p>
          <h4>Talk to me about</h4>
          <p>
            Your favorite drink, feminism, Swiss cheese.
          </p>
        </div>
      </div> <!-- END ROW -->

      <div class="row">
        <div class="span3 well">
          <a href="" onmouseover="document.getElementById('chris').src='img/committee/Chris2.jpg';" onmouseout="document.getElementById('chris').src='img/committee/Chris1.jpg';">
            <img id="chris" src="img/committee/Chris1.jpg" width="200px" height="200px">
          </a>
          <h3>Chris Blake</h3>
          <h4>Treasurer</h4>
          <p>
            My job involves keeping the MCR figures healthy, and occasionally helping out with
            Reggie behind the bar.
          </p>
          <h4>Research Title</h4>
          <p>
            Complex multiplication of p-divisible groups.
          </p>
          <h4>Freshers' Tip</h4>
          <p>
            Get involved in as much sport as possible - it's a great way to get involved with
            the rest of college.
          </p>
          <h4>Talk to me about</h4>
          <p>
            Cricket, football, golf and maths of course.
          </p>
        </div>
        <div class="span3 well">
          <a href="" onmouseover="document.getElementById('kate').src='img/committee/Kate2.jpg';" onmouseout="document.getElementById('kate').src='img/committee/Kate1.jpg';">
            <img id="kate" src="img/committee/Kate1.jpg" width="200px" height="200px">
          </a>
          <h3>Kate Williams</h3>
          <h4>Welfare Officer</h4>
          <p>
            My priority is to make sure that all MCR students are enjoying their time at University and are keeping themselves happy and healthy. I'm here to provide confidential and impartial support and information on any issue, big or small, whether it relates to academic, health, or personal concerns. 
          </p>
          <h4>Research Title</h4>
          <p>
            Institutionalization of intellectual disciplines, within the broader field of sociology of knowledge.
          </p>
          <h4>Freshers' Tip</h4>
          <p>
            Get involved in as many different things as possible during Michaelmas. Plenty of time to start studying seriously later. 
          </p>
          <h4>Talk to me about</h4>
          <p>
            Any concerns you have, your health and wellbeing or anything at all. 
          </p>
        </div>
        <div class="span3 well">
          <a href="" onmouseover="document.getElementById('stephen').src='img/committee/Stephen2.jpg';" onmouseout="document.getElementById('stephen').src='img/committee/Stephen1.jpg';">
            <img id="stephen" src="img/committee/Stephen1.jpg" width="200px" height="200px">
          </a>
          <h3>Stephen Harrison</h3>
          <h4>Academic Programme Officer</h4>
          <p>
            I organise events which include academic
            content. check out the page <a href="academic_programs">here</a>.
          </p>
          <h4>Research Title</h4>
          <p>
            The diffusion of Achaemenid concepts of kingship.
          </p>
          <h4>Freshers' Tip</h4>
          <p>
            Get involved in college life and societies.
          </p>
          <h4>Talk to me about</h4>
          <p>
            Communicating your research, college sport, pop music c.1996-202.
          </p>
        </div>
      </div><!-- END ROW -->

      <div class="row">

        <div class="span3 well">
          <a href="" onmouseover="document.getElementById('guia').src='img/committee/Guia2.jpg';" onmouseout="document.getElementById('guia').src='img/committee/Guia1.jpg';">
            <img id="guia" src="img/committee/Guia1.jpg" width="200px" height="200px">
          </a>
          <h3>Guia Carrara</h3>
          <h4>Halls Officer</h4>
          <p>
            I organise Graduate dinners and Superhalls in hall, 
            make sure your thirst is quenched with enough sherry and port and generally help 
            out with setting up our get togethers!
          </p>
          <h4>Research Title</h4>
          <p>
            Functional characterisation of a Vaccinia virus ion channel and its human orthologue
            in regulating intercellular calcium signalling, apoptosis, cell adhesion and motility.
          </p>
          <h4>Freshers' Tip</h4>
          <p>
            Come to Grad halls and other MCR events of course! Get to know everyone.
          </p>
          <h4>Talk to me about</h4>
          <p>
            You. Any stupid thing that passes through your mind! Viruses or anything science related.
          </p>
        </div>

        <div class="span3 well">
          <a href="" onmouseover="document.getElementById('aristides').src='img/committee/Aristides2.jpg';" onmouseout="document.getElementById('aristides').src='img/committee/Aristides1.jpg';">
            <img id="aristides" src="img/committee/Aristides1.jpg" width="200px" height="200px">
          </a>
          <h3>Aristides Diamant</h3>
          <h4>Entertainment Officer</h4>
          <p>
            I try to plan events where you can unwind and enjoy yourself.
          </p>
          <h4>Research Title</h4>
          <p>
            Structural and functional studies of cytoplasmic dynein's tail domain.
          </p>
          <h4>Freshers' Tip</h4>
          <p>
            Obey traffic laws when cycling. Believe it or not, Cambridge police officers consider
            running a red light at three miles per hour a grave offense punishable by a &pound;30 fine.
          </p>
          <h4>Talk to me about</h4>
          <p>
            (Association) football, music and how to cope with living eight time zones away from
            your family and friends. 
          </p>
        </div>
        <div class="span3 well">
          <a href="" onmouseover="document.getElementById('alex').src='img/committee/Alex2.jpg';" onmouseout="document.getElementById('alex').src='img/committee/Alex1.jpg';">
            <img id="alex" src="img/committee/Alex1.jpg" width="200px" height="200px">
          </a>
          <h3>Alex Litvinenko</h3>
          <h4>Swaps Officer</h4>
          <p>
            I talk with the MCRs of other colleges, both Cambridge
            and Oxford, and organise formal swaps, where a group of Christ's students goes to
            another college for dinner in their hall (often with pre- and post-drinks!) and the 
            other college does the same on a different day. This means that Christ's students have
            a chance to experience what formals in other colleges are liks and get to hang out with
            people from outside on the return swaps as well.
          </p>
          <h4>Research Title</h4>
          <p>
            The study of lipid metabolism in microalgae in order to improve the potential of 
            renewable biofuel generation.
          </p>
          <h4>Freshers' Tip</h4>
          <p>
            Make use of all the amazing unique opportunities Cambridge has to offer: avoid working
            late, got to all the fun events you can and embrace the new experiences that will be 
            thrown at you.
          </p>
          <h4>Talk to me about</h4>
          <p>
            Swaps past and present, what other colleges are like, which May Balls are the best.
          </p>
        </div>
      </div> <!-- END ROW -->

      <div class="row">

        <div class="span3 well">
          <a href="" onmouseover="document.getElementById('cristina').src='img/committee/Cristina2.jpg';" onmouseout="document.getElementById('cristina').src='img/committee/Cristina1.jpg';">
            <img id="cristina" src="img/committee/Cristina1.jpg" width="200px" height="200px">
          </a>
          <h3>Cristina Bertulli</h3>
          <h4>External Officer</h4>
          <p>
            I'm in charge of liaising with the university going
            to the meetings with the GU and CUSU. So if you want to make your voice louder among the
            university students, come and talk to me!
          </p>
          <h4>Research Title</h4>
          <p>
            A microfluidic device to minic the vascular environment for breast cancer studies.
          </p>
          <h4>Freshers' Tip</h4>
          <p>
            Come to the MCR as much as possible. Why stay at home?
          </p>
          <h4>Talk to me about</h4>
          <p>
            Literally everything.
          </p>
        </div>
        <div class="span3 well">
          <a href="" onmouseover="document.getElementById('luis').src='img/committee/Luis2.jpg';" onmouseout="document.getElementById('luis').src='img/committee/Luis1.jpg';">
            <img id="luis" src="img/committee/Luis1.jpg" width="200px" height="200px">
          </a>
          <h3>Luis Castellv&iacute;</h3>
          <h4>Social Officer</h4>
          <p>
            I assist the Entertainment Officer in organising and advertising events. I also help out the Bar Manager.
          </p>
          <h4>Research Title</h4>
          <p>
            The influence of Luis de G&oacute;ngora in colonial poetry of Hispanic America.
          </p>
          <h4>Freshers' Tip</h4>
          <p>
            Save time for activities you enjoy that are unrelated to your research.
          </p>
          <h4>Talk to me about</h4>
          <p>
            Literature, music, cinema, art... and politics!
          </p>
        </div>
      </div> <!-- END ROW -->

      <!-- FOOTER -->
      <br />
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Christ's College MCR</p>
      </footer>

    </div><!-- /.container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel({
          	interval: 10000
          })
        })
      }(window.jQuery)
    </script>
    <script src="js/holder.js"></script>

  </body>
</html>
