<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Christ's College &middot; MCR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/crest.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/crest.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/crest.png">
                    <link rel="apple-touch-icon-precomposed" href="img/crest.png">
                                   <link rel="shortcut icon" href="img/crest.png">

    <!-- ANALYTICS (Bigbrother's watching you ^-^) -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-34397666-2', 'srcf.net');
      ga('send', 'pageview');
    </script>
    
  </head>

  <body>



    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <!--<div class="container">-->

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!--<a class="brand" href="#">Christ's College MCR</a>-->
      <a class="brand" href="index"> <img src="img/crest.png" height="20px" width="20px"> Christ's College MCR</a>

            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="index">Home</a></li>
                <li><a href="committee">Committee</a></li>
                <li><a href="events">Events</a></li>
                <li class="active"><a href="welfare">Welfare</a></li>
                <li class="dropdown">
                  <a href="academic_programs" class="dropdown-toggle disbled">Academic Programs<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="academic_programs#erss">ERSS</a></li>
                    <li><a href="academic_programs#talks">Talks</a></li>
                    <li><a href="academic_programs#teaching">Teaching</a></li>
                    <li><a href="academic_programs#engagement">Engagement</a></li>
                  </ul>
                </li>
                <li><a href="societies">Societies</a></li>
                <li><a href="gallery">Gallery</a></li>
                <li><a href="contact">Contact</a></li>
                <!--<li>
                  <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder="Search">
                  </form>
                </li>-->
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      <!--</div>  /.container -->
    </div><!-- /.navbar-wrapper -->



    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="img/top_bar/Bar1.jpg" alt="">
        </div>
        <div class="item">
          <img src="img/top_bar/Bar2.jpg" alt="">
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span12">
          <h2>Welfare</h2>
        </div><!-- /.span12 -->
      </div><!-- /.row -->

      <div class="tabbable well">
          <ul class="nav nav-pills">
            <li class="active"><a href="#tab1" data-toggle="tab">In College</a></li>
            <li><a href="#tab2" data-toggle="tab">CUSU</a></li>
            <li><a href="#tab3" data-toggle="tab">External/University</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <p>
                <strong>College Nurse</strong><br />
              
                The college nurse (Gillian Graig) can meet anyone needing to speak to her (no appointment necessary) in the surgery on the ground floor of Q staircase on weekdays between 10.30 and 12.30 during full term and one week either side of Full Term. You can email her at:<br />
                <em>ghec2 (@cam...)</em>
              </p>
              <p>
                <strong>Chaplain - Reverend Bernard Randall</strong><br />
              
                The Chaplain is also here for students to talk to about any issues, regardless of your faith. You can contact him by email at:<br />
                <em>bcr26 (@cam...)</em><br />
                Or call him on: <em>334922</em>
              </p>
              <p>
                <strong>Graduate Tutors</strong><br />
              
                Your grad tutor can provide support and advice on a range of issues, from work-related problems, to financial issues, to personal problems.
              </p>
            </div>
            <div class="tab-pane" id="tab2">
              <p>
                For more information and links for any welfare issue, please visit the CUSU (Cambridge University Students' Union) Welfare website: <a href="http://www.cusu.cam.ac.uk/welfare" class="btn btn-primary">CUSU</a>  
              </p>
              <p>
                <strong>Student Advice Service</strong><br />
                You can contact the student advice service with any problem you have, big or small.<br />
                Student support phone: 07999 85 99 40 (7 days a week 9am-9pm)
              You can find more information on the Cambridge Student Advice Service here: <a href="http://www.studentadvice.cam.ac.uk/" class="btn btn-primary">Student Advice Service</a><br />
              Also, further contact addresses can be found here: <a href="http://www.studentadvice.cam.ac.uk/contacts/" class="btn btn-primary">Student Advice Contacts</a>
              </p>
            </div>
            <div class="tab-pane" id="tab3">
              <div class="accordion" id="accordion2">
                <div class="accordion-group">

                  <!-- GENERAL HEALTH -->
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        General Health
                      </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <address>
                          <strong>Addenbrooke's Hospital,</strong><br>
                          Hills Rd,<br>
                          Cambridge,<br>
                          B2 0QQ<br />
                        </address>
                        
                        <address>
                          <strong>Trumpington Street Medical Practice</strong><br>
                          56 Trumpington Stree,<br>
                          Cambridge,<br>
                          CB2 1RG<br />
                        </address>
                      </div>
                    </div>
                  </div>

                  <!-- MENTAL HEALTH -->
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        Mental Health
                      </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <p>
                        <strong>Mental Health</strong><br />
                        The University Counselling Service based on Lensfield Road offers confidential counselling to students of the University. They are able to offer a great deal of support on a whole variety of issues, including depression, anxiety, eating disorders, and relationship problems. If you think you might be interested in making an appointment, click here:<br /><a href="http://www.counselling.cam.ac.uk" class="btn btn-primary">University Counselling</a><br />
                        Or alternatively give them a call on <em>01223 332865</em>
                        </p>
                        <p>
                        <strong>The Samaritans</strong><br />
                        They offer a confidential listening service, available 24 hours a day throughout the UK. It is run by volunteers to offer non-judgemental emotional support. Their website is here:<br />
                        <a href="http://www.samaritans.org" class="btn btn-primary">Samaritans</a><br />
                        And they can be contacted at: <em>08457 90 90 90</em>
                        </p>
                        <p>
                        <strong>Linkline</strong><br />
                        This is a listening support and information service, run by students for students. It is available available from 7pm-7am every night of full term. You can also drop in to their office for a chat during these hours. Their site is here:<br />
                        <a href="http://www.linkline.org.uk" class="btn btn-primary">Linkline</a><br />
                        And can be contacted at:
                        <address>
                          <strong>Linkline</strong><br>
                          21 Jesus Lane<br>
                          Cambridge<br>
                          <abbr title="Phone">01223 744 444</abbr>
                        </address>
                        
                        </p>
                        <p>
                        <strong>More Information</strong>
                        For more information on mental health issues that can affect us, visit any of the following links:<br />
                        <a href="http://www.bbc.co.uk/health/mental" class="btn btn-primary btn-block">BBC Mental Health</a><br />
                        <a href="http://www.rcpsych.ac.uk/mentalhealthinformation.aspx" class="btn btn-primary btn-block">Royal College of Psychiatrists</a><br />
                        <a href="http://http://www.direct.gov.uk/en/HealthAndWellBeing/index.htm" class="btn btn-primary btn-block">DirectGov</a><br />
                        </p>
                      </div>
                    </div>
                  </div>
                
                <!-- SEXUAL HEALTH -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                      Sexual Health
                    </a>
                  </div>
                  <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <strong>Beeline</strong><br />
                      <p>This is a CUSU service offering information on issues such as sexual health, contraception, pregnancy, abortion, adoption and childcare. There's a lot of useful information on their website, but if you can't find the information you need there just email them at:<br /> <em>beeline@cusu.cam.ac.uk</em> and you'll get a response within 24 hours from hours by the beeline coordinator or the CUSU welfare officer.<br />
                        Or call them on <em>01223 333 179</em>, Saturday and Sunday 3 - 5 pm
                      </p>
                      
                      <strong>NHS Direct</strong><br />
                      <p>This is a medical information and advice service that can provide you with details ad guidance on a number of sexual health matters. Their website is here: <br />
                        <a href="http://www.nhsdirect.nhs.uk/questions/category/index.aspx?categoryId=118" class="btn btn-primary">NHS Direct</a><br />
                        Or you can call them on: <em>0845 46 47</em>
                      </p>
                      
                      <strong>The Family Planning Association</strong><br />
                      <p>They are the UK's leading sexual health charity. They aim to provide the information and guidance necessary to enable you to make informed choices about sex and to enjoy sexual health. Visit their website here:<br />
                        <a href="http://www.fpa.org.uk" class="btn btn-primary">The FPA</a>
                      </p>
                      
                      <strong>Sexual Health Direct</strong><br />
                      <p>This is a helpline run by the FPA that provides confidential information and advice on contraception and sexual health and details of family planning and sexual health clinics. You can call them on:<br />
                        <em>0845 310 1334</em> (Monday to Friday 9am-6pm)
                      </p>
                      
                      <p>For more information on sexual health matters, click <a href="http://www.direct.gov.uk/en/HealthAndWellBeing/HealthyLiving/DG_4002934" class="btn btn-primary">Here</a><br /><br />
                      
                        You can also visit your local GP, nurse or GUM clinic for more information, advice and STI testing:
                        <address>
                          <strong>The Laurels</strong><br>
                          20 Newmarket Road,<br>
                          Cambridge<br>
                        </address>
                        For Confidential Sexual Health Check-ups, Screening and Family Planning, check out:
                        <a href="http://www.sexualhealthcambs.nhs.uk" class="btn btn-primary">Sexual Health Cambridge</a><br />
                        Or call:<em>08456 505 512</em>
                      </p>
                    </div>
                  </div>
                </div>
                
                <!-- SAFTEY -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                      Saftey
                    </a>
                  </div>
                  <div id="collapseFour" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <strong>To report a crime in the Cambridge area</strong><br />
                      <p>
                        <address>
                          <strong>Parkside Police Station</strong><br>
                          Parkside,<br>
                          Cambridge,<br>
                          CB3 1JG<br />
                          <abbr title="Phone">01223 358966</abbr>
                        </address>
                        Your call will be directed to either Control Room (if a police presence is required) or to the Crime Management Unit.
                        You can report a crime in person at the station between 7am and 2am.
                      </p>
                      
                      <strong>Cambridge Rape Crisis Centre</strong><br />
                      <p>
                        This provides confidential support for women who have experienced sexual assault. Volunteers can also accompany people when reporting a crime.
                        <address>
                          <strong>Cambridge Rape Crisis Centre</strong><br>
                          12 Mill Road,<br>
                          Cambridge,<br>
                          <abbr title="Phone">01223 245888</abbr>
                        </address>
                        Weds 7-10pm, Sat 11-12
                        Their website is also here: <a href="http://www.rapecrisis.org.uk" class="btn btn-primary">Rape Crisis</a>
                      </p>
                      <p>
                        <address>
                          <strong>Cambridge Victim Support</strong><br>
                          The Bath House,<br />
                          Gwydir Street,<br />
                          Cambridge<br />
                          <abbr title="Phone">01223 329000</abbr>
                        </address>
                      </p>
                    </div>
                  </div>
                </div>
                
                <!-- DRUGS AND ALCOHOL -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                      Drugs and Alcohol
                    </a>
                  </div>
                  <div id="collapseFive" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <strong>Cambridge Drug and Alcohol Service</strong><br />
                      <p>
                        This is a counselling and treatment service for people suffering from drug and alcohol dependency. They offer an appointment system only so call <em>01223 723020</em> to book. Monday - Thursday 9am-5pm, Friday 9am-4pm
                        <address>
                          The Mill House,<br />
                          Brookfields Hospital,<br />
                          351 Mill Road,<br />
                          Cambridge,<br />
                          CB1 3DF<br />
                        </address>
                      </p>
                      
                      <strong>Alcoholics Anonymous</strong><br />
                      <p>
                        They can provide support if you or someone you know has a drink problem. Their website is here:<br />
                        <a href="http://www.aa-gb.com" class="btn btn-primary">Alcoholics Anonymous</a><br />
                        Or you can call them on: <em>0845 769 7555</em> (24 hours)
                      </p>
                      
                      <strong>The Bridge Project</strong><br />
                      <p>
                        This is a drug advice centre offering confidential information and counselling for illegal drug users and their families. They provide drop-in sessions each weekday afternoon. Needle exchange Monday-Friday, 2-4pm.
                        <address>
                          152-4 Mill Road,<br />
                          Cambridge,<br />
                          CB1 3LP<br />
                          <abbr title="Phone">01223 214614</abbr>
                        </address>
                      </p>
                    </div>
                  </div>
                </div>
              </div><!-- END accordian group -->
            </div>
          </div>
        </div>
      </div>

      <!-- FOOTER -->
      <br />
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Christ's College MCR</p>
      </footer>

    </div><!-- /.container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel({
          	interval: 10000
          })
        })
      }(window.jQuery)
    </script>
    <script src="js/holder.js"></script>

  </body>
</html>
